---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <body>
    <Header title="ACTING" />
    <main>


<div class="img1"> 
  <img src="/public/billeder/actingimgvenstre.webp" alt="">
   <img src="/public/billeder/actingimghøjre.webp" alt="">
</div>

    </main>

    <Footer />
  </body>
</Layout>

<style>

.img1 {
display: flex;
padding-top: -20px;
}



</style>