---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Liveevents from "../components/Liveevents.astro";
import Spotyfi from "../components/Spotyfi.astro";
import About from "../components/About.astro";
---

<Layout>
  <body>
    <Header />
    <main>
      <Spotyfi />
      <Liveevents />
      <About />
    </main>

    <Footer />
  </body>
</Layout>
