---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Videomusik from "../components/Videomusik.astro";


const singler = await fetch("https://gmrqdsphowntllgdewkq.supabase.co/rest/v1/yepha_singles", {
  method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtcnFkc3Bob3dudGxsZ2Rld2txIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3Mzc0NTksImV4cCI6MjA0OTMxMzQ1OX0.HHGha3yx6RNf9AkkQsBICs0b4qpwkOQ2cSO0BOAGxQ8"
    }
}).then((res)=>res.json())

console.log (singler);








---

<!---

 {singler.map((single) =>{
  return<name data="{name}" />;
 })} 
 -->
     <!-- singler.filter(single => underoverskrift == "2010").map((single)=>(
                <singler_card artist={single} />
    
            )) -->

<!-- <div class="singler_fetch"></div>
       {
        
        }
 </div>  -->
 
<Layout>
  <body>
    <Header title="MUSIC" />

       <div class="singler">
    
    </div>



    <Videomusik />
    <main>
      <div class="container">
        <Button />

        <div class="spotify">
          <img class="img" src="/billeder/spotyfi.svg" alt="" />
          <p class="p"><br />EXPLORE ON <br /><br /> SPOTIFY <br /></p>
          <img src="/billeder/Arrow.jpg" alt="pil" />
        </div>
      </div>
      <div class="videoer">
        <div>
          <img src="/billeder/pigervideo.webp" alt="piger" />
          <h1>Piger</h1>
        </div>
        <div>
          <img src="/billeder/opmedhåret.webp" alt="piger" />
          <h1>Op med håret</h1>
        </div>
        <div>
          <img src="/billeder/hjerneblødning.webp" alt="piger" />
          <h1>Hjerneblødning</h1>
        </div>
      </div>

      <a href="https://www.youtube.com/@YephaDK/videos"><p class="viewall">View all</p> </a>

      <h1 class="h2singler">SINGLER</h1>

      <h1 class="h2desktop">NY MUSIK UDE SNART // NY MUSIK UDE SNART // NY MUSIK UDE SNART //</h1>
    </main>

    <Footer />
  </body>

  <style>
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    .h2desktop {
      font-size: 30px;
      color: #a52913;
    }
    .viewall {
      font-family: "Lato", sans-serif;
      font-style: black;
      font-size: 20px;
      text-align: right;
      text-decoration: underline;
    }

    .videoer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .img {
      width: 100px;
    }

    img {
      height: auto;
      width: 400px;
    }

    h1 {
      text-align: center;
      font-family: "Inter", serif;
      font-style: normal;
    }

    .spotify {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 40px;
    }

    .p {
      color: rgba(0, 0, 0, 0.3);
      font-size: 40px;
      font-weight: bolder;
      font-family: "Inter", serif;
      line-height: 20px;
    }
    .h2singler {
      text-align: center;
      font-family: "Inter", serif;
      font-style: normal;
      font-size: 64px;
    }
  </style>
</Layout>
