<h1 class="h2desktop">FØLG YEPHA!</h1>

<div class="someikoner">
  <div>
    <a href="https://www.tiktok.com/@_yepha" target="_blank">
      <img src="/public/billeder/tiktok.svg" alt="TikTok" />
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/__yepha/?hl=da" target="_blank">
      <img src="/public/billeder/instagram.svg" alt="Instagram" />
    </a>
  </div>
  <div>
    <a href="https://open.spotify.com/album/5fMgcuHMFaoFk0jbhNzXXv?si=NTGPeSkKRb2u7_kITmY-xw&fbclid=PAZXh0bgNhZW0CMTEAAaaZjs8wTIuiXWH60iIgjAdEndlKA3vy93ttMJWuWXWUt_lEfMBFSPcFmZs_aem_CkdrE-5x9C-FDbFgZ6Z2EQ&nd=1&dlsi=7ae159444818450e" target="_blank">
      <img src="/public/billeder/spotyfi.svg" alt="Spotify" />
    </a>
  </div>
</div>

<div class="instarulle">
  <img class="billede1" src="public/billeder/insta.webp" alt="insta" />
  <img class="billede2" src="public/billeder/instablåtbillede.webp" alt="insta" />
  <div class="tobilleder">
    <img class="billede3" src="public/billeder/instasortbillede.webp" alt="insta" />
    <img class="billede4" src="public/billeder/instasorthviderdusød.webp" alt="insta" />
  </div>

  <img src="public/billeder/instarødt.webp" alt="insta" />
  <img src="public/billeder/instasorthvid.webp" alt="insta" />
</div>

<style>
  .someikoner {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
  }

  .h2desktop {
    display: flex;
    justify-content: center;
    font-family: "Inter", serif;
  }
  .instarulle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  img {
    width: 80px;
  }
  .billede1 {
    width: 230px;
  }
  .billede2 {
    width: 180px;
  }

  .tobilleder {
    display: flex;
    flex-direction: column;
  }
</style>
