<h1 class="h2desktop">FØLG YEPHA!</h1>

<div class="someikoner">
  <div>
    <a href="https://www.tiktok.com/@_yepha" target="_blank">
      <img src="/billeder/tiktok.svg" alt="TikTok" />
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/__yepha/?hl=da" target="_blank">
      <img src="/billeder/instagram.svg" alt="Instagram" />
    </a>
  </div>
  <div>
    <a href="https://open.spotify.com/album/5fMgcuHMFaoFk0jbhNzXXv?si=NTGPeSkKRb2u7_kITmY-xw&fbclid=PAZXh0bgNhZW0CMTEAAaaZjs8wTIuiXWH60iIgjAdEndlKA3vy93ttMJWuWXWUt_lEfMBFSPcFmZs_aem_CkdrE-5x9C-FDbFgZ6Z2EQ&nd=1&dlsi=7ae159444818450e" target="_blank">
      <img src="/billeder/spotyfi.svg" alt="Spotify" />
    </a>
  </div>
</div>

<div class="gallery">
  <img class="billede1" src="/billeder/insta.webp" alt="insta" />
  <img class="billede2" src="/billeder/instablåtbillede.webp" alt="insta" />
  <div class="tobilleder">
    <img class="billede3" src="/billeder/instasortbillede.webp" alt="insta" />
    <img class="billede4" src="/billeder/instasorthviderdusød.webp" alt="insta" />
  </div>

  <img class="billede5" src="/billeder/instarødt.webp" alt="insta" />
  <img class="billede6" src="/billeder/instasorthvid.webp" alt="insta" />
</div>

<style>
  .someikoner {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
  }

  .h2desktop {
    display: flex;
    justify-content: center;
    font-family: "Inter", serif;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Tilpasser kolonnerne */
    gap: 0px; /* Plads mellem billederne */
  }

  .gallery img {
    width: 100%; /* Billedet fylder hele kolonnen */
    height: auto; /* Bevarer proportionerne */
  }
  img {
    width: 80px;
  }
  .billede1 {
    width: 230px;
  }
  .billede2 {
    width: 180px;
  }

  .billede5 {
    width: 260px;
  }

  .billede6 {
    width: 168px;
  }
  .tobilleder {
    display: flex;
    flex-direction: column;
  }
</style>
