<h1 class="h2desktop">LIVE EVENTS</h1>

<div class="liveevents">
  <div class="pdesktop">
    <div>
      <p class="venstre-tekst">14 nov 2025 YEPHA // Hotel Cecil <a class="billetter">BILLETER</a></p>
      <p class="venstre-tekst">18 nov 2025 YEPHA // BREMEN<a class="billetter">BILLETER</a></p>
      <p class="venstre-tekst">2 sep 2025 YEPHA // Royal Arena <a class="billetter">BILLETER</a></p>
      <p class="venstre-tekst">16 sep 2025 YEPHA // VEGA <a class="billetter">BILLETER</a></p>
      <p class="venstre-tekst">14 nov 2025 YEPHA // PUMPEHUSET <a class="billetter">BILLETER</a></p>
      <p class="venstre-tekst">18 nov 2025 YEPHA // Maskinhallen <a class="billetter">BILLETER</a></p>
    </div>
  </div>
</div>

<style>

  .pdesktop, 
  .liveevents {
    display: flex;
    justify-content: center;
  }

  p { 
    border-bottom: 1px solid black;
    padding-left: 100px;
  }
.venstre-tekst {
text-indent: 180px;
}
  .billetter {
  float: right; 
}

  @media (min-width: 1000px) {
    .liveevents,
    .pdesktop {
    }
    .h2desktop {
      display: flex;
      justify-content: center;
      font-family: "Inter", serif;
    }
  }
</style>
