<h1 class="h2desktop">LIVE EVENTS</h1>

<div class="liveevents">
  <div class="pdesktop">
    <div>
      <p>14 nov 2025 YEPHA // Hotel Cecil</p><p class="billetter">BILLETER</p>
      <p>18 nov 2025 YEPHA // BREMEN</p><p class="billetter">BILLETER</p>
      <p>2 sep 2025 YEPHA // Royal Arena</p><p class="billetter">BILLETER</p>
      <p>16 sep 2025 YEPHA // VEGA</p><p class="billetter">BILLETER</p>
      <p>14 nov 2025 YEPHA // PUMPEHUSET</p><p class="billetter">BILLETER</p>
      <p>18 nov 2025 YEPHA // Maskinhallen</p><p class="billetter">BILLETER</p>
    </div>
  </div>
</div>

<style>
  ul {
    text-decoration: underline;
  }
  .pdesktop,
  .liveevents {
    display: flex;
    justify-content: center;
    text-decoration: underline;
  }

  p {
    display: flex;
    position: relative;
    right: 0px;
    display: inline-block;
    border-bottom: 1px solid black;
    padding-left: 170px;
  }
  @media (min-width: 1000px) {
    .liveevents,
    .pdesktop {
    }
    .h2desktop {
      display: flex;
      justify-content: center;
      font-family: "Inter", serif;
      font-size: 64px;
    }
  }
</style>
