---
---

  <div class="form-container">
        <h2>NYHEDSBREV</h2>
        <form action="netlify" >
<p>Skriv dig op til nyhedsbrevet og vær den første, der modtager besked om nye koncerter, merchandise og meget mere.
</p>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <button type="submit">TILMELD</button>
        </form>
    </div>





<style>

/*-----------NYHEDSBREV---------*/
/* Formularcontainer */

.form-container {
position: relative;
background-color: black;
 width: 400px;
  height: 400px
  
}

.nyhedstekst {
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  text-align: center;
  color: #fff;
}
input, {
  width: 100%; /* Bedre responsivitet */
  padding: 25px; /* Juster padding */
  margin-bottom: 15px;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 10%; /* Fyld hele bredden */
  padding: 15px; /* Øget padding for bedre klikoplevelse */
  background-color: #ef4d2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  
}
</style>

<script>
// JavaScript til at lukke dialogen
const dialog = document.getElementById('newsletter-dialog');
const closeButton = document.querySelector('.close-button');

closeButton.addEventListener('click', () => {
  dialog.close();
});

document.addEventListener('DOMContentLoaded', () => {
  dialog.showModal(); 
});
</script>
