---
const {id}=Astro.props;
console.log(id);


---
<a href={"/name/" + id.slug}>



<div class="flexbox_lineup">

   
<div class="data_singler">

<article>

    <h3>{id.name}</h3>
    <img src={`/img/${id.img}`} 
    alt={id.name} />

</article>




</a>

