---
import Button from "../components/Button.astro";
const { title } = Astro.props;
---

<div class="container">
  <div class="button">
    <Button />
  </div>

  <div class="spotify">
    <a href="https://open.spotify.com/artist/5asGLnsKzGu0vUCRFSjibL" target="_blank">
      <img class="img" src="/billeder/spotyfi.svg" alt="Spotify" />
    </a>
    <p class="p"><br />EXPLORE ON <br /><br />SPOTIFY<br /></p>
    <div class="line"></div>
    <div class="arrow"></div> 
  </div>
</div>

<style>
  .img {
    width: 100px;
  }

  .arrow {
      border-top: 15px solid transparent; /* Øvre trekant-kant */
      border-bottom: 15px solid transparent; /* Nedre trekant-kant */
      border-right: 40px solid #333; /* Venstre trekant (danner pilen) */
    }

    .line {
      position: absolute;
      width: 30%; /* Længden på stregen */
      height: 4px; /* Tykkelse på stregen */
      
     border-right: 300px solid #333;
    }

  .spotify {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
  }

  .p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    font-weight: bolder;
    font-family: "Inter", serif;
    line-height: 20px;
  }

  @media (max-width: 1024px) {
    .img,
    img {
      width: 60px;
    }

    .p {
      font-size: 10px;
      line-height: 0.8;
    }

    .button {
      grid: block;
    }
    .arrow {
      display: block;
    }
  }
</style>
